* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: black;
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid;
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn_primary {
  background-color: #132231;
  color: white;
  font-weight: bold;
}

.logo {
  font-size: larger;
  font-weight: 500;
}

.left_part {
  display: flex;
  gap: 10rem;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
